annotated-types==0.8.0
asgiref==3.12.1
blinker==1.9.0
certifi==2026.7.22
channels==4.3.2
charset-normalizer==3.4.9
click==8.4.2
comm==0.2.3
dash==4.4.1
dash-bootstrap-components==2.0.4
dash_ag_grid==35.3.0
dash_mantine_components==2.8.0
Django==6.1
django-json-widget==2.1.1
django-plotly-dash==2.5.1
django-unfold==0.104.1
dpd_components==0.2.0
duckdb==1.5.5
et_xmlfile==2.0.0
Flask==3.1.3
gunicorn==26.0.0
idna==3.18
importlib_metadata==9.0.0
itsdangerous==2.2.0
janus==2.0.0
Jinja2==3.1.6
MarkupSafe==3.0.3
narwhals==2.24.0
nest-asyncio==1.6.0
numpy==2.5.2
openpyxl==3.1.5
packaging==26.3
pandas==3.0.5
pillow==12.3.0
plotly==6.9.0
pyarrow==25.0.1
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
retrying==1.4.2
setuptools==84.0.0
six==1.17.0
sqlparse==0.5.5
typing-inspection==0.4.3
typing_extensions==4.16.0
urllib3==2.7.0
Werkzeug==3.1.8
zipp==4.1.0
